# Copy to .env and edit for your VM topology.
LAN_IF=ens33
WAN_IF=ens37
LAN_NET=192.168.100.0/24
LAN_CLIENT=192.168.100.20
INETSIM_IP=10.10.10.20
NFQUEUE_NUM=0

# Set this to your Wazuh manager IP reachable from Ubuntu.
WAZUH_SERVER_IP=10.10.20.20
WAZUH_PORTS=1514,1515

# Python engine behavior.
HOME_NET=192.168.100.0/24
RULE_ACTION=block

